BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_runhalt_in" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_clksel_in" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ext_clk_in" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "be_out" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_en_out" DRIVE=8 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_clk_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_fpga_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_irq_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_pio_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_ram_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_rom_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_rw_out" DRIVE=12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "pb_reset_in" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "pb_step_in" PULLMODE=UP IO_TYPE=LVCMOS33 ;
USE PRIMARY NET "ext_clk_in_c" ;
VOLTAGE 3.300 V;
LOCATE COMP "ext_clk_in" SITE "88" ;
LOCATE COMP "be_out" SITE "13" ;
LOCATE COMP "clk_out" SITE "12" ;
LOCATE COMP "io_en_out" SITE "16" ;
LOCATE COMP "irqn_out" SITE "70" ;
LOCATE COMP "led_clk_out" SITE "76" ;
LOCATE COMP "led_fpga_out" SITE "87" ;
LOCATE COMP "led_irq_out" SITE "81" ;
LOCATE COMP "led_pio_out" SITE "86" ;
LOCATE COMP "led_ram_out" SITE "85" ;
LOCATE COMP "led_rom_out" SITE "82" ;
LOCATE COMP "led_rw_out" SITE "77" ;
LOCATE COMP "oe_out" SITE "66" ;
LOCATE COMP "pb_reset_in" SITE "3" ;
LOCATE COMP "pb_step_in" SITE "2";
LOCATE COMP "ram_en_out" SITE "17" ;
LOCATE COMP "resetn_out" SITE "21" ;
LOCATE COMP "rw_out" SITE "71" ;
LOCATE COMP "rom_en_out" SITE "20" ;
LOCATE COMP "sw_clksel_in" SITE "99" ;
LOCATE COMP "sw_runhalt_in" SITE "1" ;
LOCATE COMP "we_out" SITE "67" ;

//LOCATE COMP "a_in[0]" SITE "38" ;
//LOCATE COMP "a_in[1]" SITE "39" ;
//LOCATE COMP "a_in[2]" SITE "40" ;
//LOCATE COMP "a_in[3]" SITE "41" ;
//LOCATE COMP "a_in[4]" SITE "42" ;
//LOCATE COMP "a_in[5]" SITE "43" ;
//LOCATE COMP "a_in[6]" SITE "48" ;
//LOCATE COMP "a_in[7]" SITE "49" ;
//LOCATE COMP "a_in[8]" SITE "51" ;
//LOCATE COMP "a_in[9]" SITE "52" ;
//LOCATE COMP "a_in[10]" SITE "53" ;
//LOCATE COMP "a_in[11]" SITE "54" ;
//LOCATE COMP "a_in[12]" SITE "57" ;
//LOCATE COMP "a_in[13]" SITE "58" ;
//LOCATE COMP "a_in[14]" SITE "62" ;
//LOCATE COMP "a_in[15]" SITE "63" ;

//LOCATE COMP "d_io[0]" SITE "24" ;
//LOCATE COMP "d_io[1]" SITE "25" ;
//LOCATE COMP "d_io[2]" SITE "27" ;
//LOCATE COMP "d_io[3]" SITE "28" ;
//LOCATE COMP "d_io[4]" SITE "31" ;
//LOCATE COMP "d_io[5]" SITE "32" ;
//LOCATE COMP "d_io[6]" SITE "34" ;
//LOCATE COMP "d_io[7]" SITE "35" ;
